<script>
    var sayac = 0;
    document.write("Döngü Başlıyor" + "<br/>");
    do {
        document.write("Sayaç: " + sayac + "<br/>");
        sayac++;
    }
    while (sayac < 5);
    document.write("Döngü bitti");
</script>